<h2>Film Library</h2>
<ul>
  <% Film.all.each do |film| %>
    <li><%= film.title %>
      <form action="/films" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= film.id %>">
        <input type="submit" value="Delete this film">
      </form>
    </li>
  <% end %>
</ul>

<h2>New Film</h2>
<form class="new-film" action="/films" method="post">
  <div>
    <label for="film-title">Title:</label>
    <input type="text" id="film-title" name="title" value="" placeholder="eg. My Neighbour Totoro">
  </div>

  <div>
    <!-- <input type="date" name="name" value="">
    <input type="time" name="name" value="">
    <input type="email" name="name" value="">
    <input type="tel" name="name" value="">
    <input type="url" name="name" value="">
    <input type="color" name="name" value="">
    <input type="range" name="name" value="">
    <input type="number" name="name" value="">
    <input type="search" name="name" value=""> -->
  </div>

  <div>
    <label for="film-description">Description:</label>
    <textarea name="description" id="film-description"></textarea>
  </div>

  <div>
    <fieldset>
      <legend>Rating</legend>

      <label for="rating1">
        <span>1 star</span>
        <input type="radio" id="rating1" name="rating" value="1">
      </label>

      <label for="rating2">
        <span>2 Stars</span>
        <input type="radio" id="rating2" name="rating" value="2">
      </label>

      <label for="rating3">
        <span>3 Stars</span>
        <input type="radio" id="rating3" name="rating" value="3">
      </label>

      <label for="rating4">
      <span>4 Stars</span>
        <input type="radio" id="rating4" name="rating" value="4">
      </label>
    </fieldset>
  </div>

  <div>
    <label for="film-available">
      <span>Available in library?</span>
      <input type="checkbox" id="film-available" name="available" value="1">
    </label>
  </div>

  <div>
    <label for="film-country">Country:</label>
    <select id="film-country" name="country">
      <option value="">Please select a country</option>
      <option value="CA">Canada</option>
      <option value="GB">United Kingdom</option>
      <option value="US">United States</option>
      <option value="JP">Japan</option>
    </select>
  </div>


  <div>
    <!-- <input type="file" name="name" value=""> -->
  </div>

  <!-- hidden -->
  <!-- <input type="hidden" name="loyalty-points" value="lskdjflsdkjflsdk"> -->

  <div>
    <button type="submit" name="button">
     Save!
      <img src="http://placebear.com/100/100" alt="a bear">
    </button>
  </div>

</form>
